<template name="listEdit">
    <div class="post">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <label class="control-label" for="title">Title</label>
                    <div class="controls">
                        <input name="title" id="title" type="text" value="{{title}}" placeholder="Title" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <input name="description" id="description" type="text" value="{{description}}" placeholder="Description" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <div class="ui selection dropdown">
                        <input type="hidden" name="status">
                        <div class="default text">Status</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item" data-value="draft">draft</div>
                            <div class="item" data-value="earlyaccess">early access</div>
                            <div class="item" data-value="published">published</div>
                        </div>
                    </div>
                </div>
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </form>
        </div>
    </div>
</template>