<template name="listEdit">
    <div class="post">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <label class="control-label" for="title">Title</label>
                    <div class="controls">
                        <input name="title" id="title" type="text" value="{{title}}" placeholder="Title" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <input name="description" id="description" type="text" value="{{description}}" placeholder="Description" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <label>Status</label>
                    <select class="browser-default" name="status">
                        <option value="" disabled selected>Choose the status</option>
                        <option value="draft">draft</option>
                        <option value="earlyaccess">early access</option>
                        <option value="published">published</option>
                    </select>
                </div>
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </form>
        </div>
    </div>
</template>