<template name="addCategory">
    <div class="ui floating labeled icon dropdown button">
        <i class="add user icon"></i>
        <span class="text">Add Category</span>
        <div class="menu">
            <div class="header">
                Categories
            </div>
            <div class="item" data-value="fitness">fitness</div>
            <div class="item" data-value="productivity">productivity</div>
            <div class="item" data-value="money">money</div>
        </div>
    </div>
</template>





