<template name="addMaintainer">
        <div class="ui floating labeled icon dropdown button">
            <i class="add user icon"></i>
            <span class="text">Add Maintainer</span>
            <div class="menu">
                <div class="header">
                    People You Might Know
                </div>
                {{#each users}}
                    <div class="item" data-value="{{_id}}" >
                        <img class="ui mini avatar image" src="/resources/dummy_user.jpg" alt="{{username}}" title="{{username}}">
                        {{username}}
                    </div>

                {{/each}}
            </div>
        </div>
</template>





