<template name="userDetails">
    <div class="container">
        <div class="section">
            <div class="post">
                    <h3>{{profile.name}}{{username}}</h3>
                    {{#if ownsProfile}}
                        <a class="btn btn-primary submit" href="{{pathFor 'userEdit'}}">Edit</a>
                    {{/if}}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="section">
            <div class="post">

                    <h4>Exports</h4>
                    <ul>
                        {{#each exports}}
                            <li>{{> exportItem}}</li>
                        {{else}}
                            <p>
                                Sorry. There are no exports.
                            </p>
                        {{/each}}
                    </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="section">
            <div class="ui cards">
                {{#each lists}}
                    {{> listItem}}

                {{else}}
                    <p>
                        Sorry. There are no lists.
                    </p>
                {{/each}}
            </div>
        </div>
    </div>
</template>





