<template name="listDetails">
    {{> listDetailsHeader}}
    <div class="container">
        <div class="section">
            <div class="ui secondary pointing menu">
                <a class="active item">
                    Details
                </a>
                <a class="item">
                    <a href="{{pathFor 'listPage'}}/maintainers">Maintainers</a>
                </a>
                <a class="item">
                    <a href="{{pathFor 'listPage'}}/contributors">Contributors</a>
                </a>
                <a class="item">
                    <a href="{{pathFor 'listPage'}}/activities">Activities</a>
                </a>
                <a class="item">
                    <a href="{{pathFor 'listPage'}}/pullrequests">Pull Requests</a>
                </a>
                <a class="item">
                    <a href="{{pathFor 'listPage'}}/forks">Forks</a>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="section">
            <div class="post">
                {{description}}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="section">
            <div class="post">
                {{#if isEarlyaccess}}
                    {{> listDetailsEarlyaccess}}
                {{/if}}
                <div class="row center">
                    <h4>Todos</h4>
                </div>
                {{> listDetailsTodos}}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="section">
            <div class="post">
                <div class="row center">
                    <h4>Maintainers</h4>
                </div>
                <ul class="collection">
                    {{#each maintainers}}
                        {{> listDetailsMaintainerItem}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="section">
            <div class="post">
                {{> listDetailsSteps}}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="section">
            <div class="post">
                {{> listDetailsEmbed}}
            </div>
        </div>
    </div>
</template>



