<template name="listDetailsMaintainers">
    {{> listDetailsHeader}}
    <ul class="nav nav-pills">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="{{pathFor 'listPage'}}">Details</a></li>
            <li role="presentation" class="active"><a href="{{pathFor 'listPage'}}/maintainers">Maintainers</a></li>
            <li role="presentation"><a href="{{pathFor 'listPage'}}/contributors">Contributors</a></li>
            <li role="presentation"><a href="{{pathFor 'listPage'}}/activities">Activities</a></li>
            <li role="presentation"><a href="{{pathFor 'listPage'}}/pullrequests">Pull Requests</a></li>
            <li role="presentation"><a href="{{pathFor 'listPage'}}/forks">Forks</a></li>
        </ul>
    </ul>
    <div class="container">
        <div class="section">
            <div class="post">
        <h3>Maintainers</h3>
        {{#if maintainers}}

                <table>
                    <thead>
                    <tr><th>Maintainer</th><th>Shares</th></tr>
                    </thead>
                    <tbody>
                    {{#each maintainers}}
                        {{> listDetailsMaintainerSharesItem}}
                    {{/each}}
                    </tbody>
                </table>

        {{/if}}
        {{# if maintainer}}
            <h3>Add new Maintainer</h3>
                {{> addMaintainer}}
        {{/if}}
    </div>
        </div>
    </div>
</template>


