<template name="listDetailsEmbed">
    <div class="row">
        <div class="col s12 center">
            <h4>Weitersagen und Geld verdienen</h4>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. dolore magna aliquyam merated diam voluptua.
            </p>
            <textarea onclick="this.select()" readonly="">&lt;iframe width="100%" height="480" style="max-width: 740px; min-width: 312px" src="http://dev.steps.fm/node/46/embed" frameborder="0"&gt;&lt;/iframe&gt;</textarea>
        </div>
    </div>
</template>