<template name="listDetailsHeader">
    <div class="jumbotron">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        {{# if maintainer}}
            <a class="btn btn-default submit" href="{{pathFor 'listEdit'}}">Update</a>
            <a class="btn btn-default submit" href="{{pathFor 'todoSubmit'}}">Submit Todo</a>
        {{/if}}
        {{#if currentUser}}
            <a class="btn btn-default fork" href="#">Fork</a>
            <div class="btn-group">
                <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                    Export <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    {{#each apps}}
                        {{> appExportbuttonItem}}
                    {{/each}}
                </ul>
            </div>
        {{/if}}
    </div>
</template>