<template name="listDetailsHeader">
    <div id="index-banner" class="list-header">
        <div class="section">
            <div class="container">
                <h1 class="header center teal-text text-lighten-2">{{title}}</h1>
                <h5 class="header col s12 light">{{teaser}}</h5>
                <div class="row center">
                    <div class="ui floating dropdown button">
                        <div class="text">Export</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            {{#each apps}}
                                {{> appExportbuttonItem}}
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="ui modal">
                    <i class="close icon"></i>
                    <div class="header">
                        Authorization
                    </div>
                    <div class="content">
                        <div class="image">
                            BILD
                        </div>
                        <div class="description">
                            The Wunderlist API uses OAuth2 to allow external applications to request authorization to a user’s Wunderlist account without directly handling their password.
                        </div>
                    </div>
                    <div class="actions">
                        <div class="ui button">Cancel</div>
                        <div class="ui button">OK</div>
                    </div>
                </div>
                <div class="row center">
                    {{#if currentUser}}
                        <a class="btn btn-default fork" href="#">Fork</a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</template>













