<template name="listDetailsHeader">
    <div class="jumbotron">
        <h1>{{title}}</h1>
        <p>{{description}}</p>

        {{# if maintainer}}
            <a class="btn btn-default submit" href="{{pathFor 'listEdit'}}">Update</a>
            <a class="btn btn-default submit" href="{{pathFor 'todoSubmit'}}">Submit Todo</a>
        {{/if}}
        {{#if currentUser}}
            <a class="btn btn-default fork" href="#">Fork</a>
            <a class="btn btn-primary postlist" href="#" role="button">Export to Wunderlist</a>
        {{/if}}
    </div>
</template>