<template name="todoEdit">
    <div class="container">
        <div class="section">
            <div class="post">
                <form>
                    <div class="form-group">
                        <label class="control-label" for="title">Title</label>
                        <div class="controls">
                            <input name="title" id="title" type="text" value="{{title}}" placeholder="Title" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="comment">Comment</label>
                        <div class="controls">
                            <input name="comment" id="comment" type="text" value="{{comment}}" placeholder="Comment" class="form-control"/>
                        </div>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary submit"/>
                    <hr/>
                    <a class="btn btn-danger delete" href="#">Delete post</a>
                </form>
            </div>
        </div>
    </div>
</template>