<template name="publisherListPage">
    <div class="row">
        <div class="col-md-4">
            <h4>Deine Listen</h4>
            {{#each lists}}
                {{> publisherListItem}}
            {{/each}}
            {{> publisherListSubmit}}
        </div>
        <div class="col-md-8">
            <h4>{{title}}</h4>
                {{#each todos}}
                    {{> publisherTodoItem}}
                {{else}}
                    <p>
                        There are no todos.
                    </p>
                {{/each}}
                {{> publisherTodoSubmit}}
            </div>
    </div>
</template>