<template name="publisherListItem">
    <div class="ui card">
        <div class="content">
            <div class="description">
                <div class="list-item {{editingClass}}">
                    <input type="text" value="{{title}}" placeholder="Title"/>
                </div>
            </div>
        </div>
        <div class="extra content">
            <div class ="publisher-todo-buttons">
                <a href="{{pathFor 'publisherListPage'}}" title="Todos" ><i class="list icon"></i></a>
                <a href="{{pathFor 'publisherListSettingsPage'}}" title="Settings"><i class="setting icon"></i></a>
                <a href="{{pathFor 'publisherListInsightsPage'}}" title="Insights"><i class="line chart icon"></i></a>
                <a href="{{pathFor 'listPage'}}" title="Show"><i class="share icon"></i></a>
            </div>
        </div>
    </div>
</template>


