<template name="publisherListItem">
    <div class="post">
        <div class="list-item {{editingClass}}">
            <input type="text" value="{{title}}" placeholder="Title"/>
            <div class ="publisher-todo-buttons">
                <a href="{{pathFor 'publisherListPage'}}"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></a>
                <a href="{{pathFor 'publisherListSettingsPage'}}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                <a href="{{pathFor 'publisherListInsightsPage'}}"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span></a>
                <a href="{{pathFor 'listPage'}}"><span class="glyphicon glyphicon-share" aria-hidden="true"></span></a>
            </div>
        </div>
    </div>
</template>





