<template name="publisherListSettingsPage">
    <div class="row">
        <div class="col-md-4">
            <h4>Deine Listen</h4>
            {{> publisherListSubmit}}
            {{#each lists}}
                {{> publisherListItem}}
            {{else}}
                <p>
                    You have no lists.
                </p>
            {{/each}}
        </div>
        <div class="col-md-8">
            <h4>Settings für {{title}}</h4>
                {{> listEdit}}
        </div>
    </div>
</template>



