<template name="publisherListSettingsPage">
    <div class="container">
        <div class="section">
            <div class="ui stackable two column grid">
                <div class="column">
                    <h4>Deine Listen</h4>
                    {{> publisherListSubmit}}
                    {{#each lists}}
                        {{> publisherListItem}}
                    {{else}}
                        <p>
                            You have no lists.
                        </p>
                    {{/each}}
                </div>
                <div class="column">
                    <h4>Settings für {{title}}</h4>
                        {{> listEdit}}
                    <h4>Maintainers</h4>
                    <div class="post">
                        {{#if maintainers}}
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr class="active"><th>Maintainer</th><th>Shares</th></tr>
                                    </thead>
                                    <tbody>
                                    {{#each maintainers}}
                                        {{> listDetailsMaintainerSharesItem}}
                                    {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        {{/if}}
                        {{> addMaintainer}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>



