<template name="listDetailsMaintainers">
    {{> listDetailsHeader}}
    <ul class="nav nav-pills">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="{{pathFor 'listPage'}}">Details</a></li>
            <li role="presentation" class="active"><a href="{{pathFor 'listPage'}}/maintainers">Maintainers</a></li>
            <li role="presentation"><a href="{{pathFor 'listPage'}}/contributors">Contributors</a></li>
            <li role="presentation"><a href="{{pathFor 'listPage'}}/activities">Activities</a></li>
            <li role="presentation"><a href="{{pathFor 'listPage'}}/pullrequests">Pull Requests</a></li>
            <li role="presentation"><a href="{{pathFor 'listPage'}}/forks">Forks</a></li>
        </ul>
    </ul>
    <div class="post">
    {{# if maintainer}}
        <form>
            <div class="form-group">
                <label class="control-label" for="title">userId</label>
                <div class="controls">
                    <input name="userid" id="userid" type="text" value="" placeholder="userId" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="description">userName</label>
                <div class="controls">
                    <input name="username" id="username" type="text" value="" placeholder="userName" class="form-control"/>
                </div>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </form>
    {{/if}}
        <h3>Maintainers</h3>
        {{#if maintainers}}
            <div class="list-group">
            {{#each maintainers}}
                {{> maintainerItem}}
            {{/each}}
        </div>
        {{/if}}

    </div>
</template>


