<template name="listItem">

    <div class="uk-width-small-1-2 uk-width-medium-1-3">
    <div class="row">
        <div class="col s12 m12">
            <div class="card medium">
                <div class="card-image">
                    <img class="activator" src="/resources/list_cover.png">
                    <span class="card-title">{{title}}
                    {{#if isEarlyaccess}}<small>(Early Access)</small>{{/if}}
                        </span>
                </div>
                <div class="card-content">
                    {{description}}
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{title}} <i class="mdi-navigation-close right"></i></span>
                    <p>{{description}}</p>
                </div>
                <div class="card-action">
                    <a href="{{pathFor 'listPage'}}">Details</a>
                    <a class="activator" href='#'>{{exports}} Exports</a>
                    <div class="secondary-content">{{todosCount}} Todos</div>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>
