<template name="listDetailsPullrequests">
    {{> listDetailsHeader}}
    <ul class="nav nav-pills">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="{{pathFor 'listPage'}}">Details</a></li>
            <li role="presentation"><a href="{{pathFor 'listPage'}}/maintainers">Maintainers</a></li>
            <li role="presentation"><a href="{{pathFor 'listPage'}}/contributors">Contributors</a></li>
            <li role="presentation"><a href="{{pathFor 'listPage'}}/activities">Activities</a></li>
            <li role="presentation" class="active"><a href="{{pathFor 'listPage'}}/pullrequests">Pull Requests</a></li>
            <li role="presentation"><a href="{{pathFor 'listPage'}}/forks">Forks</a></li>
        </ul>
    </ul>
    <div class="post">
        <h3>Pull Requests</h3>
        <p>
            Pull requests help you collaborate on code with other people. As pull requests are created, they'll appear here in a list. To get started, you should create a pull request.
        </p>
            <div class="list-group">
                {{#each pullrequests}}
                    {{> pullrequestItem}}
                {{/each}}
            </div>
    </div>
</template>


