<template name="listDetails">
    {{> listDetailsHeader}}
    <ul class="nav nav-pills">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">Details</a></li>
            <li role="presentation"><a href="#">Forks</a></li>
            <li role="presentation"><a href="#">Shares</a></li>
        </ul>
    </ul>
    <div class="post">
        {{> listDetailsMetainfos}}
        {{> listDetailsTodos}}
        {{> listDetailsSteps}}
        {{> listDetailsEmbed}}

    </div>
</template>


