<template name="listItem">
    <div class="box">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <a href="{{pathFor 'listPage'}}">
                <h3 class="panel-title pull-left">{{title}}</h3>
                </a>
                <a class="btn btn-default pull-right" href="{{pathFor 'listPage'}}">
                    <i class="fa fa-check"></i>
                    Details
                </a>
            </div>
            <img src="/resources/list_cover.png" class="img-responsive">
            <div class="panel-body">
                {{exports}} Exports
                <p>{{description}}</p>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="bootcards-list">
                            {{#each maintainers}}
                                {{> listsListmaintainerItem}}
                            {{/each}}
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <small>
                    {{todosCount}} Todos
                    {{#if isEarlyaccess}}(Early Access){{/if}}
                </small>
            </div>
        </div>
    </div>
</template>