<template name="listItem">
    <div class="card">
        <div class="ui fluid image">
            {{#if isEarlyaccess}}
                <div class="ui black ribbon label">
                    Early Access
                </div>
            {{/if}}
             <a href="{{pathFor 'listPage'}}"><img src="/resources/list_cover.png"></a>
        </div>
        <div class="content">
            <div class="header">{{title}}</div>
            <div class="meta">
                {{#if isEarlyaccess}}<span>Early Access</span>{{/if}}
                {{#if isFork}}<span><a href="{{pathFor 'listPage' _id=original}}">Forked</a></span>{{/if}}
            </div>
            <div class="description">
                {{teaser}}
                {{#each categories}}
                    <div class="ui tiny label">
                        {{categoryName}}
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="extra content">
            <div class="right floated author">
                {{#each maintainers}}
                    {{> listsListmaintainerItem}}
                {{/each}}
            </div>
        </div>
        <div class="extra content">
            <span class="right floated">
               <i class="download icon"></i>
                {{exports}} Exports
            </span>
            <span>
                <i class="list icon"></i>
                <span>{{todosCount}} Todos</span>
            </span>
        </div>
    </div>
</template>
