<template name="listDetails">
    {{> listDetailsHeader}}
    <div class="post">
        <div class="post-content">
            <p>{{todosCount}} Todos</p>
            <p>{{forksCount}} Forks</p>
            <p>{{shares}} Shares</p>
            <p>
            {{#if forks}}
                <h3>Forks</h3>
                <ul>
                    {{#each forks}}
                        {{> listItem}}
                    {{/each}}
                </ul>
            {{/if}}
            <h3>Original</h3>
            <ul>
                {{#each originals}}
                    {{> listItem}}
                {{/each}}
            </ul>
            </p>
            <ul>
                {{#each todos}}
                    {{> todoItem}}
                {{/each}}
            </ul>
        </div>
    </div>
</template>


