<template name="header">
    <div class="navbar-fixed">
        <nav class="white">
            <div class="nav-wrapper container">

                <a class="left navbar-brand" href="{{pathFor 'home'}}"><img src="/resources/steps_logo01.png" alt="steps"></a>
                <ul class="left hide-on-med-and-down">
                <li>{{> searchBox}}</li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="{{pathFor 'listsList'}}">Listen</a>
                    </li>
                    {{#if currentUser}}<li><a href="{{pathFor 'publisher'}}">Publisher</a></li>{{/if}}
                    <li>
                        {{> loginButtons}}
                    </li>
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <li><a href="#">Navbar Link</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </nav>
    </div>
</template>